[SddmGreeterTheme]
Name=Tahoe
Description=Minimal liquid glass SDDM theme
Author=drama
Copyright=
License=MIT
Type=sddm-theme
Version=1.0
Website=
MainScript=Main.qml
ConfigFile=theme.conf
QtVersion=6
